{% extends 'base.html' %}

{% block title %}发布文章{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{  url_for('static',filename='css/article.css') }}">
    <script src="{{ url_for('static', filename='tinymce/js/tinymce/tinymce.min.js')  }}"></script>
    <script src="{{ url_for('static', filename='js/tinymce_setup.js')  }}"></script>
{% endblock %}

{% block main %}
    <form  method="post" action="">
        <div class="form-container">
            <div class="form-group">
                <input class="form-control" type="text" placeholder="请输入标题" name="title">
            </div>
            <div class="form-group">
                <input class="editor" name="content" id="content" placeholder="请输入内容" name="article">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">提交</button>
            </div>
        </div>
    </form>
{% endblock %}

