{% extends 'base.html' %}

{% block title %}首页{% endblock %}

{% block head %}
     <link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}">
{% endblock %}

{% block main %}
    <ul>
        {% for article in articles %}
            <li class="indexli">
                <div class="avatar-group">
                    <img src="{{ url_for('static',filename='images/pc.png') }}" alt="" class="avatar">
                </div>
                <div class="article-group">
                    <p class="article-title"><a href="{{ url_for('detail',question_id=article.id) }}">{{ article.title }}</a></p>
                    <p class="article-content">{{ article.content | safe }}</p>
                </div>
                <div class="article-info">
                    <span class="article-author">{{ article.author.username }}</span>
                    <span class="article-time">{{ article.create_time }}</span>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
